/* your styles go here */

.header-utama{
    background-image: url('../img/photo/photo-1426122402199-be02db90eb90.jpg');
    background-size: cover;
}
/* .card-kelas{
    width: 25%;
} */

.avatar-profile{
    display: inline-block;
    width: 25% !important;
    position: relative;
    text-align: center;
    border: 2px solid #dee2e6;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 0 1rem rgba(0,0,0,0.15);
    line-height: 3rem;
}

.card-testi{
    width: 200% !important;
    margin-left: 20%;
    /* height: 100px !important; */
}

/* owl carousel */

.owl-nav {
    position: absolute;
    top: -3rem;
    right: 0;
    ;
}

.owl-nav button {
    font-size: 30px;
    -webkit-box-shadow: 0px 5px 20px 0px rgba(94, 66, 85, 0.1);
    box-shadow: 0px 5px 20px 0px rgba(94, 66, 85, 0.1);
    border-radius: 50%;
    margin: 0 auto;
    background-color: #4e66f8 !important;
    color: #fff !important;
    width: 35px;
    height: 35px;
    line-height: 70px;

}

.owl-nav button:hover {
    -webkit-box-shadow: 0px 12px 20px 0px rgba(117, 144, 240, 0.4);
    box-shadow: 0px 12px 20px 0px rgba(117, 137, 240, 0.4);
    background: linear-gradient(55deg, rgb(117, 152, 240) 0%, rgb(145, 145, 255) 100%);
    color: #fff
}

.owl-nav .owl-prev {
    margin-right: 25px;
}

.owl-nav .owl-prev {
    margin-left: 25px;
}